{% extends 'base.html.twig' %}

{% block title %}Hello MainController!
{% endblock %}

{% block body %}
<div class="evaluation-box container">
    {{form_start(form)}}
    {{form_row(form)}}
    <button type="submit">Valider</button>
    {{form_end(form)}}
</div>
{% endblock %}